@use 'inter-ui/default' as inter-ui with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@use 'inter-ui/variable' as inter-ui-variable with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@include inter-ui.weight-400-normal;
@include inter-ui.weight-500-normal;
@include inter-ui.weight-600-normal;
@include inter-ui.weight-700-normal;
@include inter-ui-variable.normal;

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', 'system-ui';
}

@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: 'Inter var', 'system-ui';
  }
}

body {
  font-size: 100%;
}

@mixin light-theme {
  --bg-1: #4987fc;
  --bg-2: #f2f2f2;
  --bg-3: #6756bd;
  --text-1: #303030;
  --text-2: #6756bd;
  --border-1: #ededed;
}

@mixin dark-theme {
  --bg-1: #3c7eff;
  --bg-2: #4b5563;
  --bg-3: #6756bd;
  --text-1: #f3f4f6;
  --text-2: #d1d5db;
  --border-1: #94a3b8;
}

.light {
  @include light-theme;
}

.dark {
  @include dark-theme;
}

:root:not(.light):not(.dark) {
  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}
