.markdown-custom-styles {
  color: inherit;
  background-color: transparent;
  > p {
    margin-bottom: 5px;
  }
  > ul,
  ol {
    list-style: disc;
    padding-left: 1em;
    margin-bottom: 5px;
  }
  & li p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  > pre {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  > pre code {
    white-space: pre-wrap;
  }
}
